# disable magic quote.
php_flag magic_quotes_gpc Off

# rewriting rules for
# phpoxide web engine
RewriteEngine on
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1